// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0074ad;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: rgba(107, 153, 177, 0.2);
$pink: #FC9CC6;
