<div class="navbar-lewagon">
  <%= image_tag "Cocktail-1988-movie-logo.png",
                 alt: "1988 movie Cocktail logo",
                 width: 96 %>
  <div>
    <%= link_to "Browse cocktails",
                cocktails_path,
                class: "mr-4 btn btn-main"%>
    <%= link_to "Add new cocktail",
                new_cocktail_path,
                class: "btn btn-main"%>
  </div>
</div>

<div class="banner" style="background-image: url('/assets/cocktail-movie.jpg'); padding: 350px 0;">
</div>
