.banner {
  background-size: contain;
  background-position: center;
}
.banner-cocktail {
  background-size: cover;
  background-position: bottom;
  height: 400px;

  h1 {
    color: whitesmoke;
    text-shadow: 1px 1px 2px gray;
    font-weight: bold;
  }
}
