.navbar-lewagon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $blue;
  padding: 15px;

  .navbar-brand {
    img {
      vertical-align: middle;
    }
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

